body{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    background: url('../img/139.jpg') 0 0 repeat;
}

#app{
    width: 98vw;
    height: 96vh;
    text-align: center;
    position: relative;
}
.wrap{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    min-height: 350px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#label{
    display: block;
}
.string{
    margin-bottom: 10px;
}
#main-input{
    margin-bottom: 10px;
    outline: none;
    border: 2px solid orangered;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
.number{
    color: orangered;
    font-weight: 600;
}
.title{
    color: rgb(0, 0, 0);
    font-size: 22px;
}
#bye{
    color: orangered;
}
@media (max-width: 576px){
    .wrap{
        width: 90%;
    }
}