<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Family budget calculator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" type="image/icon" href="./favicon.ico"/>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(
                k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(52292251, "init", {
            id: 52292251,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/52292251" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
    <div id="app">
        <h1 class="title">Калькулятор для быстрого распределения дохода по категориям бюджета</h1>
        <div class="wrap">
            <label class="string" for="how-match" id="label">Введи сколько ты заработал:</label>
            <input name="how-match" type="text" v-model="howMatch" id="main-input">
            <div class="string bordered" v-if="toNum" id="wow">Общий доход: <span class="number">{{toNum}}</span></div>
            <div class="string" v-if="toNum" id="blago"><span class="number">{{blago}}</span> рублей на
                благотворительность,</div>
            <div class="string" v-if="toNum" id="parents"><span class="number">{{parents}}</span> родителям.</div>
            <div class="string bordered" v-if="toNum" id="family-income">Семейный доход:<span class="number">{{familyIncome}}</span></div>
            <div class="string" v-if="toNum" id="nz"><span class="number">{{nz}}</span> рублей на подушку безопасности,</div>
            <div class="string" v-if="toNum" id="relax"><span class="number">{{relax}}</span> рублей на развлечения.</div>
            <div class="string bordered" v-if="toNum" id="income">100% общий доход:<span class="number">{{income}}</span></div>
            <div class="string" v-if="toNum" id="dream"><span class="number">{{dream}}</span> на мечту,</div>
            <div class="string" v-if="toNum" id="capital"><span class="number">{{capital}}</span> рублей в капитал,</div>
            <div class="string" v-if="toNum" id="current"><span class="number">{{current}}</span> рублей на текущие
                расходы.</div>
            <div class="string" v-if="toNum" id="bye">Ты-победитель, помни! Заглядывай ко мне почаще.</div>
            <div class="string" v-if="!toNum" id="bye">Ну же...</div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                howMatch: ''
            },
            computed: {
                //общий доход
                toNum: function () {
                    return parseInt(this.howMatch);
                },
                //подушка безопасности
                nz: function () {
                    if (this.toNum) {
                        var prom = this.familyIncome * 0.1;
                        return Math.round(prom);
                    }
                },
                //развлечения
                relax: function () {
                    if (this.toNum) {
                        var prom = this.familyIncome * 0.1;
                        return Math.round(prom);
                    }
                },
                //благотворительность
                blago: function () {
                    if (this.toNum) {
                        var prom = this.toNum * 0.1;
                        return Math.round(prom);
                    }
                },
                //родителям
                parents: function () {
                    if (this.toNum) {
                        var prom = this.toNum * 0.1;
                        return Math.round(prom);
                    }
                },
                //в капитал
                capital: function () {
                    if (this.toNum) {
                        var prom = (this.income * 0.55) * 0.8;
                        return Math.round(prom);
                    }
                },
                //на мечту
                dream: function () {
                    if (this.toNum) {
                        var prom = (this.income * 0.55) * 0.2;
                        return Math.round(prom);
                    }
                },
                //на текущие расходы
                current: function () {
                    if (this.toNum) {
                        var prom = this.income * 0.45;
                        return Math.round(prom);
                    }
                },
                //100% доход
                income: function () {
                    var prom = this.familyIncome - this.nz - this.relax;
                    return Math.round(prom);
                },
                //семейный доход
                familyIncome: function () {
                    var prom = this.toNum - this.blago - this.parents;
                    return Math.round(prom);
                }
            }
        })
    </script>
</body>

</html>